/* You can add global styles to this file, and also import other style files */
.username-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
  padding: 0 12px;
  max-width: 250px; /* Adjust width as needed */
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.username-text {
  flex-grow: 1;
  min-width: 50px;
  max-width: 100%; /* Allow full width */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}